<!--DEBUT PAGE PRODUIT-->
<main class="page-main">
    <section class="titrePage">Page Catalogue</section>
    <section class="container d-flex p-2 text-white page-catalogue-contenu">
        <div class="p-2 d-flex flex-column page-catalogue-gauche">
            <div class="p-2">
                <h3>categories</h3>
                <form>
                    {% for categorie in categories %}
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="categorie-{{ categorie.id }}">
                            <label class="form-check-label"
                                   for="categorie-{{ categorie.id }}">{{ categorie.nom }}</label>
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div class="p-2">
                <h3>marques</h3>
                <form>
                    {% for marque in marques %}
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="marque-{{ marque.id }}">
                            <label class="form-check-label" for="marque-{{ marque.id }}">{{ marque.nom }}</label>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
        <div class="p-2 page-catalogue-droite flex-wrap d-inline-flex justify-content-start">
            {% for produit in produits %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="produit-item">
                        <div class="image">
                            <a href="#">
                                <img class="img-fluid" src="{{ produit.imageUrl }}" alt="">
                            </a>
                        </div>
                        <div class="nom-produit">
                            <a href="#">{{ produit.nom }}</a>
                        </div>
                        <div class="prix-produit">
                            <span>{{ produit.prix }}€</span>
                        </div>
                        <div class="p-2 ajouter-panier">
                            <span><i class="fas fa-cart-plus"></i> Acheter</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="d-flex justify-content-center">
        <ul class="pagination text-center">
            <li class="page-item">
                <a class="page-link" href="#">Précédent</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Suivant</a>
            </li>
        </ul>
    </section>
</main>
<!--FIN PAGE PRODUIT-->
