<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DWWM - {% block title %}{% endblock %}</title>

    {% block stylesheets %}
        <!-- Favicon -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon.svg') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
    {% endblock %}
</head>
<body>

{% block body %}

    {# Preloader #}
    {{ include('partials/_preloader.html.twig') }}
    {# Fin Preloader #}

    {# Header #}
    {{ include('partials/_header.html.twig') }}
    {# Fin Header #}




{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/ec63adeb54.js" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/app.js') }}" defer></script>
{% endblock %}
</body>
</html>
